@import '../../../styles/variables.scss';

.full-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $gutter-xxlg;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: stretch;
  }
}