@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet');
* {
  font-family: Montserrat;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

button, input {
  outline: none;
  border-color: transparent;
}