.container {
  min-height: 20px;
  width: calc(100% - 60px);
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: 768px){
    width: 550px;
  }

  @media screen and (min-width: 1280px){
    width: 1060px;
  }
}