@import "../../../styles/variables.scss";

.button {
  padding: $gutter-sm $gutter-lg;
  background: $color-super-dark-gray;
  box-shadow: $dark-box-shadow;
  border-radius: 5px;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-white;

  &--tabs:not(:last-of-type) {
    margin-right: $gutter-ml;
  }
}
